.container{
    display: flex;
    flex-direction: column;
    width: 1368px;
    height: auto;
    margin: auto;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 31px;
    margin-bottom: 80px;
}

.header_nav_menu{
    display: flex;
    width: 1296px;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

.left_wrapper{
    display: flex;
    flex-direction: row;
    gap: 44px;
    align-items: center;
}

.logo{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    text-decoration: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropbtn{
    display: flex;
    box-sizing: border-box;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 4px;
    background: #0F8277;
    cursor: pointer;

    color: #EEE;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
  
.dropdown-content{
    display: none;
    width: 384px;
    height: auto;
    box-sizing: border-box;
    padding: 16px 12px 33px 12px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
    gap: 40px;
}

.dropdown_header{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-bottom: 40px;
}

.dropdown_item{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.dropdown_hr{
    width: 100%;
    height: 1px;
    border-radius: 100px;
    background: #000;
    margin-bottom: 40px;
}

.dropdown_goals_block{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-bottom: 40px;
}

.dropdown_goals_block_header{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.dropdown_links{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.dropdown:focus .dropdown-content {
    display: block;
}
  
  .dropdown-content a:hover {
    background-color: #e0e0e0;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}

.search{
    display: flex;
    flex-direction: row;
}

input{
    box-sizing: border-box;
    flex-direction: row;
    width: 290px;
    height: 36px;
    padding-left: 12px;
    align-items: center;
    border-radius: 4px 0 0 4px;
    border: 1px solid #5C5C5C;
    border-right: none;
    outline: none;
}

input::placeholder{
    color: #5C5C5C;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.search_button{
    display: inline-flex;
    padding: 10px;
    width: 36px;
    height: 36px;
    border: 1px solid #5C5C5C;
    background: #0F8277;
    border-radius: 0 4px 4px 0;
}

.right_wrapper{
    display: flex;
    flex-direction: row;
    gap: 104px;
    align-items: center;
}

.header_links >ul{
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 249px;
    height: 19px;
    list-style: none;
}

ul{
    padding: 0;
}

.header_links_item{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.header_button_menu{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 168px;
    height: 39px;
}

.log-in_button{
    display: inline-flex;
    width: 71px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;

    color: #0F8277;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.sign-up_button{
    display: inline-flex;
    width: 71px;
    height: 39px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #0F8277;
    text-decoration: none;

    color: #EEE;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.rectangle{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1296px;
    height: 602px;
    border-radius: 12px;
    background: #DBF3ED;
    gap: 100px;
}

.learn_comfortably_block{
    display: flex;
    width: 512px;
    height: 248px;
    gap: 32px;
    flex-direction: column;
    margin-left: 110px;
}

.lc_header{
    height: 67px;
    color: #000;
    font-family: "Quicksand",sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.lc_text{
    width: 482px;
    height: auto;
    color: #000;
    font-family: "Quicksand",sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

.lc_button_block{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 271px;
    height: 39px;
    gap: 24px;
}

.start_learning_btn{
    display: flex;
    width: 132px;
    height: 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #0F8277;
    text-decoration: none;

    color: #EEE;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.learn_more_btn{
    display: flex;
    width: 132px;
    height: 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #0F8277;
    background: transparent;
    text-decoration: none;

    color: #0F8277;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.hero_image{
    width: 533px;
    height: 533px;
    background-repeat: no-repeat;
    background-image: url(images/hero-img.png);
}

.main{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.best_program_block{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 36px;
    width: 1296px;
    height: 640px;
    gap: 40px;
}

.academic_training{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 667px;
    height: 120px;
}

.at_text{
    width: 175px;
    height: 24px;
    color: #0F8277;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.choose_best_program_text{
    width: 647px;
    height: 48px;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.best_program_block_text{
    width: 667px;
    height: 24px;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 416px 416px 416px;
    gap: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.img_block{
    display: flex;
    width: auto;
    height: 270px;
}

.dan_it_img{
    border-radius: 8px 8px 0 0;
}

.card_info{
    display: inline-flex;
    flex-direction: column;
    padding: 24px 16px;
}

.card_school{
    display: flex;
    height: 20px;
    align-items: center;
    gap: 12px;
}

.card_header_text{
    width: auto;
    margin: 0;
    flex: 1 0 0;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.card_header{
    width: auto;
    height: 29px;
    margin: 16px 0 0 0;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.get_a_diploma_block{
    display: flex;
    width: 138px;
    height: 20px;
    flex-direction: row;
    gap: 12px;
    margin: 77px 0 0 0;
}

.get_a_diploma_text{
    width: 106px;
    height: 11px;
    margin: 0;
    color: #0F8277;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.popular_courses{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 36px;
    height: 700px;
    gap: 40px;
}

.courses{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 1014px;
    height: 120px;
}

.pc_text{
    width: auto;
    height: 24px;
    color: #0F8277;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.popular_courses_text{
    width: 631px;
    height: 48px;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.pc_block_text{
    width: 1014px;
    height: 24px;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
}

.grid_2{
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    gap: 24px;
}

.more_courses_block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
}

.more_courses{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    height: 20px;
    text-decoration: none;
}

.more_courses_text{
    color: #0F8277;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.featured_topics_block{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 36px;
    height: 432px;
    gap: 40px; 
}

.ft_header{
    display: flex;
    width: auto;
    height: 48px;
}

.ft_header_text{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.topic_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.topic_card_header{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.topic_card_info_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 53px;
    gap: 10px;
}

.topic_card_info_block_header{
    color: #0F8277;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.topic_card_info{
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
}

.partners_block{
    display: flex;
    height: 382px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 36px;
    align-items: center;
    background: #DBF3ED;
}

.partners_wrapper{
    display: flex;
    width: 100%;
    height: 222px;
    flex-direction: column;
    gap: 60px;
    margin: 80px 0;
    align-items: center;
}

.partners_wrapper_header{
    width: 871px;
    height: 96px;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.partner_icon_block{
    display: flex;
    height: 66px;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.icon_with_margin{
    margin: 0 10px;
}

.bussines_block{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 36px;
    height: 412px;
    align-items: center;
    gap: 72px;
}

.bussines_content{
    display: flex;
    flex-direction: column;
    width: 636px;
    height: auto;
    gap: 32px;
}

.bussines_content_header{
    height: 96px;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.bussines_content_text{
    width: 568px;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

.bussines_matrix{
    display: flex;
    width: 588;
    height: 412px;
}

.bussines_grid{
    display: grid;
    grid-template-columns: repeat(3, 196px);
    grid-template-rows: repeat(3, 136px);
}

.grid_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.grid_item img{
    display: block;
    margin: auto;
}

.bussines_grid div {
    border: 1px solid #fff;
    box-sizing: border-box;
}
  
.bussines_grid div:nth-child(-n+3) {
    border-bottom: 1px solid #BABABA;  
}
  
.bussines_grid div:nth-last-child(-n+3) {
    border-top: 1px solid #BABABA;
}
  
.bussines_grid div:nth-child(3n+1) {
    border-right: 1px solid #BABABA;
}
  
.bussines_grid div:nth-child(3n) { 
    border-left: 1px solid #BABABA;
}

.price_block{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 36px;
    height: 966px;
    background: #DBF3ED;
}

.price_wrapper{
    display: flex;
    height: 786px;
    flex-direction: column;
    gap: 40px;
    margin: 80px 0 100px 0;
    align-items: center;
}

.price_header{
    width: auto;
    height: 48px;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.price_card{
    display: flex;
    height: 698px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.price_content{
    display: flex;
    flex-direction: column;
    margin: 56px;
    width: 304px;
    height: auto;
    gap: 48px;
}

.price_title{
    display: flex;
    flex-direction: column;
    height: 286px;
    align-items: center;
}

.price_title_header{
    width: 304px;
    height: auto;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.price_title_text{
    width: 304px;
    height: auto;
    margin: 27px 0 0 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.card_price_block{
    display: flex;
    height: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 27px 0 75px 0;
}

.price{
    width: auto;
    height: 48px;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.mo{
    width: 39px;
    height: 19px;
    margin: 0;

    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.price_button_block{
    display: flex;
    flex-direction: row;
    width: 119px;
    height: 42px;
}

.price_card_hr{
    width: 100%;
    height: 2px;
    background: #0F8277;
}

.list_block{
    width: 304px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list_item{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    height: auto;
}

.list_item_text{
    width: 264px;
    height: auto;
    margin: 0;

    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.list_icon{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: #0F8277;
}

.price_card_2{
    display: flex;
    height: 698px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #0F8277;
}

.price_title_header_2{
    width: 304px;
    height: auto;
    margin: 0;

    color: #fff;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.price_title_text_2{
    width: 304px;
    height: auto;
    margin: 27px 0 0 0;

    color: #fff;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.card_price_block_2{
    display: flex;
    height: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 27px 0 27px 0;
}

.price_2{
    width: 81px;
    height: 48px;
    margin: 0;

    color: #fff;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.mo_2{
    width: 39px;
    height: 19px;
    margin: 0;

    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.price_button_2{
    display: flex;
    width: 119px;
    height: 42px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #FFF;
    background: transparent;
    text-decoration: none;

    color: #fff;
    text-align: center;
    font-family: "Quicksand",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.price_card_hr_2{
    width: 100%;
    height: 2px;
    background: #fff;
}

.list_icon_2{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: #fff;
}

.list_item_text_2{
    width: 264px;
    height: auto;
    margin: 0;

    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.card_price_block_3{
    display: flex;
    height: 48px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 27px 0 46px 0;
}

.students_block{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 36px;
    height: 766px;
    gap: 40px;
    align-items: center;
}

.students_header{
    width: auto;
    height: 48px;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.students_wrapper{
    display: flex;
    width: 100%;
    height: 678.5px;
}

.students_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 23px;
}

.grid_item9{
    grid-area: 1 / 2 / 3 / 4;
}

.contact_us_block{
    display: flex;
    height: 726px;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 36px;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), 
    rgba(0, 0, 0, 0.60)), 
    url(images/contact_form/form_bgr_img.png);
}

.contact_form{
    display: flex;
    box-sizing: border-box;
    width: 565px;
    padding: 30px;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
    background: #DBF3ED;
}

.contact_form_header{
    width: 100%;
    height: auto;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    
}

.contact_form_text{
    width: 100%;
    height: auto;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.input_block{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 8px;
}

.input_block_header{
    width: auto;
    height: auto;
    margin: 0;

    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.input_item{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 12px;
    color: #8e8e8e;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.input_item:focus{
    color: #000;
}

.input_item_message{
    width: 100%;
    height: 104px;
    vertical-align: top;
    box-sizing: border-box;
    padding: 12px;
    color: #8e8e8e;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

.input_item_message{
    color: #000;
}

.send_button{
    display: flex;
    box-sizing: border-box;
    width: 196px;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: #0F8277;

    color: #F6FDFF;
    text-align: center;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.footer{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    box-sizing: border-box;
    padding: 64px 36px;
    gap: 684px;
    background: #F1F1F1;
}

.left_footer{
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 16px;
}

.left_footer_header{
    margin: 0;
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.left_footer_text{
    width: 306px;
    margin: 0;

    color: #000;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.right_footer{
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    gap: 60px;
    align-items: flex-end;
}

.social_wrapper{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.instagram_icon{
    width: 32px;
    height: 32px;
    background-image: url(icons/instagram.png);
}

.facebook_icon{
    width: 32px;
    height: 32px;
    background-image: url(icons/facebook.png);
}

.linkedin_icon{
    width: 32px;
    height: 32px;
    background-image: url(icons/linkedin.png);
}

.right_footer_text{
    width: 306px;
    height: auto;
    margin: 0;

    color: #000;
    text-align: right;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}